In [1]:
import cv2, glob
import pandas as pd

In [2]:
!ls ../../Data/TRAIN/

'004 Osmia lignaria f right 4x.jpg'
'013 Osmia texana m right 4x.jpg'
'105 Lasioglossum pilosum f left 4x.jpg'
'1062 Agapostemon texanus f right 3.2x.csv'
'1062 Agapostemon texanus f right 3.2x.jpg'
'106 Lasioglossum zephyrum f right 4x.jpg'
'1118 Osmia lignaria lignaria f right 4x.jpg'
'112 Lasioglossum leucozonium f left 3.2x.jpg'
'1165 Agapostemon texanus f left 3.2x.jpg'
'119 Lasioglossum rohweri f left 4x.jpg'
'1220 Osmia lignaria propinqua f right 4x.jpg'
'133 Lasioglossum nymphaerum f left 4x.jpg'
'133 Lasioglossum nymphaerum f right 4x.csv'
'133 Lasioglossum nymphaerum f right 4x.jpg'
'149 Lasioglossum rohweri f left 4x.jpg'
'154 Lasioglossum nymphaerum f left 4x.jpg'
'154 Lasioglossum nymphaerum f right 4x.jpg'
'173 Lasioglossum rohweri f left 4x.jpg'
'193 Megachile latimanus f right 4x.csv'
'193 Megachile latimanus f right 4x.jpg'
'1 Lasioglossum leucozonium f right 3.2x.jpg'
'385 Lasioglossum leucozonium f left 3.2x.jpg'
'41 Lasioglossum rohweri f right 4x.jpg'
'49 Lasioglossum pilosum f right 4x.jpg'
'50 Lasioglossum rohweri f right 4x.jpg'
'62 Lasioglossum rohweri f right 4x.jpg'
'65 Lasioglossum nymphaerum f right 4x.jpg'
'784 Lasioglossum zonulum f left 4x.jpg'
'7 Lasioglossum leucozonium f left 3.2x.jpg'
'842 Agapostemon texanus f right 3.2x.jpg'
'84 Lasioglossum MAWIspB f left 4x.jpg'
'85 Lasioglossum rohweri f right 4x.jpg'
'87 Lasioglossum pilosum f left 4x.jpg'
'8 Lasioglossum zephyrum f left 4x.jpg'
'913 Lasioglossum leucozonium f left 3.2x.jpg'

In [3]:
def click_event(event, x, y, flags, params):
    if event == cv2.EVENT_LBUTTONDOWN:
  
        print('Add point at ({}, {})'.format(x, y))
        df.loc[df.shape[0]] = [x, y]
  
        font = cv2.FONT_HERSHEY_SIMPLEX
        color = (255, 255, 0)
        cv2.putText(img, str(x) + ',' +
                    str(y), (x,y), font,
                    1, color, 2)
    cv2.imshow('image', img)

In [4]:
# Init window
window_name = 'image'
cv2.namedWindow(window_name, cv2.WINDOW_NORMAL)
cv2.setMouseCallback(window_name, click_event)

path = '../../Data/TRAIN/'

data = []
for file in glob.glob(path + '*.jpg'):
    df = pd.DataFrame(columns=['x', 'y'])
    
    # Display image 
    img = cv2.imread(file)
    cv2.imshow(window_name, img)

    # Wait for key pressed
    key = cv2.waitKey(0)
    
    # Save csv file
    csv_file = file[:-4] + '.csv'
    df.to_csv(csv_file, index=False, header=False)
    print('Saved file: {}'.format(csv_file))
    
    # Check quit key
    if key == ord('q'):
        break

cv2.destroyAllWindows()

Add point at (925, 215)
Add point at (844, 336)
Add point at (1185, 421)
Add point at (1265, 323)
Add point at (1357, 345)
Saved file: ../../Data/TRAIN/133 Lasioglossum nymphaerum f right 4x.csv
Add point at (1001, 573)
Add point at (1160, 667)
Add point at (1417, 676)
Add point at (1491, 942)
Add point at (1051, 818)
Saved file: ../../Data/TRAIN/193 Megachile latimanus f right 4x.csv
Add point at (1014, 701)
Add point at (1211, 721)
Saved file: ../../Data/TRAIN/1062 Agapostemon texanus f right 3.2x.csv
Saved file: ../../Data/TRAIN/842 Agapostemon texanus f right 3.2x.csv

In [5]:
pd.read_csv('../../Data/TRAIN/133 Lasioglossum nymphaerum f right 4x.csv', header=None)

      0    1
0   925  215
1   844  336
2  1185  421
3  1265  323
4  1357  345

In [6]:
pd.read_csv('../../Data/TRAIN/193 Megachile latimanus f right 4x.csv', header=None)

      0    1
0  1001  573
1  1160  667
2  1417  676
3  1491  942
4  1051  818

In [7]:
pd.read_csv('../../Data/TRAIN/1062 Agapostemon texanus f right 3.2x.csv', header=None)

      0    1
0  1014  701
1  1211  721